<h1>Lists</h1>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="lists">
  <div *ngFor="let list of lists">
    <h2>{{ list.name }}</h2>
    <table>
      <tbody>
        <tr *ngFor="let item of list.itemDatas">
          <td><input type="checkbox" [checked]="item.done" disabled/></td>
          <td>
            <h3 class="list-title">{{ item.title }}</h3>
            <i>{{ item.description }}</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>