<h1>Lists</h1>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="lists">
  <fieldset *ngFor="let list of lists">
    <legend>{{ list.name }}</legend>

    <div *ngFor="let item of list.itemDatas">
      <input type="checkbox" [id]="'item-' + item.id" [checked]="item.done" (change)="onChecked(item.id)">
      <label [for]="'item-' + item.id">
        <h3 class="list-title">{{ item.title }}</h3>
        <i>{{ item.description }}</i>
      </label>
    </div>
  </fieldset>
</div>